<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!-- Paypal Settings-->
        <add key="BusinessEmail" value="dschmid@cgpreceptor.com" />
        <add key="CancelPurchaseUrl" value="http://www.cgpreceptor.com" />
        <add key="ReturnUrl" value="http://www.cgpreceptor.com" />
        <add key="NotifyUrl" value="http://plataforma.cgpreceptor.com/PaypalResponse.aspx" />
        <add key="CurrencyCode" value="USD" />
        <add key="UseSandbox" value="false" />
        <add key="SendToReturnURL" value="false" />
        <add key="EnvioPublicados" value="alrosmarz@gmail.com" />
    </appSettings>
    <connectionStrings>
        <add name="connectionString" connectionString="Data Source=mssql.petroseal.com.mx;Initial Catalog=alejandro_rosales_mapa;User ID=alejandro_rosales_mapauser;Password=Alejandr0" />
        <add name="dbLunarPages" connectionString="Data Source=KASSU;uid=mono47;pwd=alejandr0;database=cgpre0_mono47;Connect Timeout=300;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.webServer>

     
        
    </system.webServer>
    <system.web>
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
        <compilation debug="true" targetFramework="4.0"/>
        <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
-->
        <authentication mode="Windows"/>
        <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
-->
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <!-- 
        La sección system.webServer es necesaria para ejecutar ASPN.NET AJAX en Internet
        Information Services 7.0. No es necesaria para la versión anterior de IIS.
    -->
</configuration>